body {
    background-image: url("https://ak.picdn.net/shutterstock/videos/23828200/thumb/1.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
.listedContact {
    font-size: small;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.fa-circle {
    font-size: x-small;
}

img {
    width: 150px;
}